* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

nav {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.icono {
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header {
    height: auto;
    background-image: url(../img/fondo2.jpg); /*Fondo que únicamente se mostrará en la sección header*/
    background-size: 100%;
    padding: 140px;
    width: 100%;
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#logo {
    display: block;
    height: 525px;
    width: 80%;
    object-fit: cover;
    animation: arriba 1s ease-in;
}
#menuinf{
    background-color: rgba(168, 190, 202, 0.726);
    bottom: 0;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    padding: 30px;
    animation: arriba 0.5s ease-in;
}
#menuinf a{
    text-decoration: none; /*Para que no cambien de color las letras por ser enlaces*/
    color: black;
    font-weight: bold;
}

.menuh{
    color: #71c8c3;
    list-style-type: none;
}

.menuh li{
    padding-left: 88px;
    padding-right: 88px;
    display: inline;
    font-size: 25px;
}
.menuh a{
    transition: font-size 1s;
}
.menuh a:hover{
    font-size: 130%;
}
.seccion{
    padding-top: 23px;
    padding-bottom: 101px;
    padding-left: 50px;
}
.seccion div{
    display: inline-block;
    margin-top: 30px;
}
.seccion h1{
    margin-top: 0;
    animation: moverDerecha 1s ease-in;
    font-size: 52px;
}
.seccion p{
    animation: arriba 1s ease-in;
    padding-bottom: 80%;
    padding-top: 8px;
    font-size: 25px;
}
.seccion img{
    float: right;
    display: inline;
    width: 30%;
    height: auto;
    padding-right: 10px;
    animation: moverIzquierda 1s ease-in;
}
#sc1{
    background: rgb(1,47,65);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,63,121,1) 70%, rgba(1,47,65,1) 100%); /*Gradientes realizadas con
    https://cssgradient.io/*/
}
#sc2{
    background: rgb(143,233,119);
    background: linear-gradient(90deg, rgba(143,233,119,1) 0%, rgba(45,96,32,1) 70%, rgba(21,60,11,1) 100%);
}
#sc3{
    background: rgb(246,141,38);
    background: linear-gradient(90deg, rgba(246,141,38,1) 0%, rgba(177,86,17,1) 70%, rgba(171,40,2,1) 100%);
}
#sc3 img{
    width: 22%;
    margin-right: 3%;
}
.textos {
    width: 70%;
    color: #fff;
}

.textos h1 {
    font-size: 80px;
    animation: moverDerecha 1s ease-in;
}

.textos h2 {
    font-size: 40px;
    color: black;
    animation: moverIzquierda 1s ease-in;
}

.textos a {
    background-color: #fff;
    display: inline-block;
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}

/* Código no utilizado (eliminar)
.enlaces {
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #71c8c3;
    font-size: 32px;
}

.uno {
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

.container a:hover{
    color: grey;
    transform: scale(1.25);
}

.dos a:hover {
    color: grey;
    transform: scale(1.25);
}
*/
@keyframes moverIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
